<div class="container">

  <span class="header">Pizzaria Horácio</span>

    <div id="container_demo">

      <div id="wrapper">

        <div id="comanda">

          <h1>COMANDA</h1>

          <form class="mt-5" [formGroup]="formcomanda" (ngSubmit)="onProcessar()">

            <p>
              <label>Chopp</label>
              <input type="text" name="inChopp" formControlName="Chopp"/>
            </p>
            <p>
                <label>Pizzas</label>
                <input type="text" name="inPizzas" formControlName="Pizzas"/>
              </p>
              <p>
                  <label>Recheios</label>
                  <input type="text" name="inRecheios" formControlName="Recheios"/>
                </p>
                <p>
                    <label>Pessoas</label>
                    <input type="text" name="inPessoas" formControlName="Pessoas"/>
                  </p>

            <p class="keepcomanda">
              <input type="checkbox" name="inServico" formControlName="pagaservico"/>
              <label>Taxa de Serviço</label>
            </p>

            <p class="comanda button">
              <input type="submit" value="Registrar" onclick="onProcessar()"/>
            </p>

          </form>

          <p class="about">Rony A. Sobral & Felipe Araujo</p>

        </div>

      </div>

    </div>
</div>